html, body, #root, .App {
  height: 100%;
  min-height: 100%; }

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222; }

.App-header {
  padding: 20px;
  color: white; }

.infos {
  display: flex;
  justify-content: center;
  align-items: center; }
  .infos div {
    margin: 0 1em; }
  .infos label {
    font-weight: bold;
    margin-right: 0.5em; }

.App-body {
  display: flex;
  justify-content: center;
  align-items: center; }

.background {
  background: white;
  table-layout: fixed;
  border-spacing: 0; }

.background td {
  padding: 0; }

.game {
  overflow: hidden;
  max-width: 800px;
  max-height: 600px;
  position: relative; }

.wall {
  background: grey; }

.actor {
  position: absolute; }

.enemy, .boss {
  background: red; }

.healthItem {
  background: green; }

.weapon {
  background: orange; }

.end {
  background: purple; }

.player {
  background: blue; }

.lost .player {
  background: #a04040; }

.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow; }
