.App {
  text-align: center; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.background {
  background: white;
  table-layout: fixed;
  border-spacing: 0; }

.background td {
  padding: 0; }

.game {
  overflow: hidden;
  max-width: 800px;
  max-height: 600px;
  position: relative; }

.wall {
  background: grey; }

.actor {
  position: absolute; }

.enemy, .boss {
  background: red; }

.healthItem {
  background: green; }

.weapon {
  background: orange; }

.player {
  background: blue; }

.lost .player {
  background: #a04040; }

.won .player {
  box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow; }
